*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


:root {
    --col-1: #FFFFFF;
    --col-2: #0D2C54;
    --col-3: #7FB800;
    --col-4: #EB984E; 
    --col-5: #F6511D; 
    --col-6: #7F8C8D; 

}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #0a2f52, #0c476e, #0b6089, #077ba4);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

body h1 {
    width: 100%;
    height: 100px;
    top: 40px;
    font-size: 4.6rem;
    color: var(--col-5);
    text-shadow: 10px 10px 10px var(--col-2);
    position: relative;
}

.contenedorlogin {
    width: 280px;
    height: 400px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 8px 8px 32px 0 rgba(11, 16, 85, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
    margin: auto auto;
}

.contenedorlogin h2 {
    font-size: 3rem;
    padding: 12px;
    margin-bottom: 16px;
    color: var(--col-1);
    text-shadow: 8px 8px 5px var(--col-2);
}

.contenedorlogin input {
    width: 98%;
    height: 48px;
    padding: 10px;
    margin: 12px 0;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 14px;
    transition: 0.8s all;
}

.contenedorlogin input:hover {
    font-size: 16px;

}

.contenedorlogin input:nth-child(4){
    width: 240px;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 16px;
    background: var(--col-5);
    color: var(--col-1);
    transition: 1s all;
}


.contenedorlogin input:nth-child(4):hover {
    background: var(--col-2);
    font-size: 1.4rem;
}

/***===========Burbuja==========***/
/*
.burbuja {
    width: 80px ;
    height: 80px;
    border-radius: 50%;
    background: var(--col-1);
    opacity: .3;
    position: absolute;
    bottom: 0;
    

    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
    width: 80px ;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2) {
    width: 100px ;
    height: 100px;
    left: 34%;
    animation-duration: 7s;
}

.burbuja:nth-child(3) {
    width: 100px ;
    height: 100px;
    left: 70%;
    animation-duration: 10s;
}

.burbuja:nth-child(4) {
    width: 80px ;
    height: 80px;
    right: 10%;
    animation-duration: 4s;
}

.burbuja:nth-child(5) {
    width: 60px ;
    height: 60px;
    left: 20%;
    animation-duration: 8s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }

    50%{
        opacity: .4;
    }

    100%{
        bottom: 100vh;
        opacity: 0;
    }
}
*/