* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}


:root {
  --col-1: #FFFFFF;
  --col-2: #0D2C54;
  --col-3: #7FB800;
  --col-4: #EB984E; 
  --col-5: #F6511D; 
  --col-6: #7F8C8D; 
  --col-7: #FFDCF9;    
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;

}

.contenedorLoginRegister {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../img/loginRegistro.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background {
  position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    align-items: center;
    justify-content: center;
}

/**********=========Login=========**********/

#login {
  width: 280px;
  height: 400px;
  padding: 4px;
  text-align: center;
  background: rgba( 0, 0, 0, 0.7 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  transition: 1s all;
  position: absolute;
  display: block;
}

#login form {
  width: 100%;
  height: 334px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#login h2 {
  padding: 10px 10px;
  color: var(--col-3);
  font-size: 2rem;
  font-weight: bold;
}

#login .inputs-info {
  width: 90%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  padding: 4px 8px;
  border: none;
  margin: 8px 0px 8px 0px;
  font-size: 1rem;
  color: var(--col-6);
  transition: 1s all;
}

#login .inputs-info:hover {
  font-size: 1.2rem;
}

#login .input-btn {
  padding: 12px 60px;
  background-color: var(--col-3);
  color: var(--col-2);
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  margin: 16px 0px 16px 0px;
  transition: 1s all;
}

#login .input-btn:hover {
  background: var(--col-2);
  color: var(--col-1);
}

.linkRegistro {
  padding: 4px 10px;
  border: none;
  background: var(--col-2);
  color: var(--col-1);
  position: absolute;
  bottom: 10px;
  right: 0px;
  transition: 1s all;
  cursor: pointer;
}

.linkRegistro:hover {
  background: var(--col-1);
  color: var(--col-2);
}

/**********=========registro=========**********/

#registro {
  width: 280px;
  height: 400px;
  padding: 4px;
  text-align: center;
  background: rgba( 12, 65, 109, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  transition: 1s all;
  position: absolute;
  display: none;
}

#registro form {
  width: 100%;
  height: 334px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#registro h2 {
  padding: 10px 10px;
  color: var(--col-3);
  font-size: 2rem;
  font-weight: bold;
}

#registro .inputs-info {
  width: 90%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  padding: 4px 8px;
  border: none;
  margin: 8px 0px 8px 0px;
  font-size: 1rem;
  color: var(--col-6);
  transition: 1s all;
}

#registro .inputs-info:hover {
  font-size: 1.2rem;
}

#registro form input.input-btn2 {
  padding: 12px 60px;
  background-color: var(--col-1);
  color: var(--col-2);
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  margin: 16px 0px 16px 0px;
  transition: 1s all;
}

#registro form input.input-btn2:hover {
  background: var(--col-3);
  color: var(--col-2);
}

#registro .linkLogin {
  padding: 4px 10px;
  border: none;
  background: var(--col-3);
  color: var(--col-1);
  position: absolute;
  bottom: 10px;
  right: 0px;
  transition: 1s all;
  cursor: pointer;
}

#registro .linkLogin:hover {
  background: var(--col-1);
  color: var(--col-3);
}

/**====BTN imagen====*/

#registro form .fileImgen {
  left: 10px;
  padding: 3px;
  margin: 10px;
  width: 100px;
  background: var(--col-3);
  color: var(--col-1);
  transition: 1s all;
  position: relative;
}

#registro form .fileImgen:hover {
  background: var(--col-1);
  color: var(--col-2) !important;
}


.fileImgen p{
  text-align: center;
  font-size: 14px;
}

.fileImgen .inputs-foto {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}


@media screen and (min-width: 400px) {
  #login {
    width: 340px;
    height: 400px;
  }

  #registro {
    width: 340px;
    height: 400px;
  }
} 

 @media screen and (min-width: 600px) {
  #login {
    width: 500px;
    height: 500px;
  }

  #registro {
    width: 500px;
    height: 500px;
  }

  #registro h2, #login h2  {
    font-size: 3.6rem;
  }

  #registro .linkLogin, .linkRegistro  {
    padding: 10px 40px;
  }
  
} 