* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Open Sans', sans-serif;
    overflow: hidden;
}

:root {
    --col-1: #FFFFFF;
    --col-2: #0D2C54;
    --col-3: #7FB800;
    --col-4: #EB984E; 
    --col-5: #F6511D; 
    --col-6: #7F8C8D; 
    --col-7: #FFDCF9;    
}



.item-header {
    width: 100%;
    height: 100PX;
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: auto;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.item-header  .logo{
    width: 100px;
    height: 80px;
    font-size: 30px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    color: #0D2C54;
    text-shadow: 6px 6px 10px var(--col-6);;
}

.item-header .imgperfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-header .imgperfil img {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50%;
}

/*===========Menú lateral===========***/

#nav-contenedor {
    width: 260px;
    height: 80vh;
    left: -260px;
    margin-top: 8px;
    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 8px;
    position: relative;
    transition: 1.5s all;
    z-index: 1;
}

#nav-contenedor.active {
    left: 0px;
}

#nav-contenedor .nav-items {
    width: 100%;
    height: 100%;
    list-style: none;
}

#nav-contenedor .nav-items .items {
    padding: 16px;
    text-align: left;
    margin: 10px 0 4px 0;
    border-bottom: 1px solid var(--col-2);
    transition: 1.2s;
}


#nav-contenedor .nav-items .items:hover {
   border-bottom: 4px solid var(--col-3);
} 


#nav-contenedor .nav-items .items .nav-link{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--col-2);
    transition: 1.2s;
}

#nav-contenedor .nav-items .items .nav-link:hover {
    color: var(--col-3);
}

.nav-link span {
    width: 100%;
    font-size: 14px;
    text-align: center;
}



.actmenu {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    bottom: 92px;
    right: 37px;
    border: none;
    box-shadow: 0 0 16px var(--col-3);
    z-index: 2;
}


/***===================main-inputs======================**/

.main-contenedor {
    width: 400px;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7F8C8D;
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-contenedor .contenerdor-input {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/*********==========================Menú================================*********/


@media screen and (min-width: 400px){
    .item-header  .logo{
        width: 200px;
        height: 80px;
        font-size: 50px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Orbitron', sans-serif;
        text-shadow: 6px 6px 10px var(--col-6);;
    }

    .item-header .imgperfil {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 800px){

    #nav-contenedor.active {
        left: -605px;
    }

    .actmenu {
        display: none;
    }

    #nav-contenedor {
        margin-top: 14px;
        width: 340px;
        padding: 16px;
    }

    #nav-contenedor .nav-items .items {
        padding: 20px;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    main .main-contenedor {
        width: 100%;
        height: 100%;
        padding: 14px;
    }
    
}
